---
layout: default
submenu: [["download", "/resume.pdf"]]
title: Facundo Olano
head_title: Resume
---
<div class="resume">
    <p>I'm a software engineer with over 15 years of professional experience.</p>

    <p>
    During the first part of my career, I worked as web developer while completing my Software Engineering degree.
    Later, I specialized in backend development, service-oriented architectures, and distributed systems, using various technologies and programming languages (Python, Node.js, Clojure, Erlang, Rust).
</p>

<p>
Because I think that software development is primarily a human activity, I place a high value on communication and knowledge sharing. I try to bring a business perspective to software discussions and provide technical insight to non-engineers. I tend to assume a leadership role in the teams I integrate, leading by example and from experience rather than title.
</p>

<p>
    More than technology or scale, my interest is in using simple tools to solve problems for users, working at organizations with healthy environments and sustainable business models.
</p>

<h3>Contact</h3>

<ul>
    <li><a href="mailto:facundo.olano@gmail.com">facundo.olano@gmail.com</a></li>
    <li><a href="https://www.linkedin.com/in/facundoolano/">LinkedIn</a></li>
    <li><a href="https://github.com/facundoolano">GitHub</a></li>
    <li>Location: Buenos Aires, Argentina (GMT-3)</li>
</ul>

<h3> Education</h3>

<b>Software Engineering</b> @Universidad de Buenos Aires
<small><span class="date">2006 - 2013</span></small>
<br/>6-year curricula (similar to a master's degree). Focused on Sciences, Systems Programming and Software Design.

  <h3> Experience</h3>

{% for job in site.data.work %}
  <header>@{{job.org}} <small><span class="date">{{job.date}}</span></small></header>

  {% for position in job.positions %}
  <p>
  {%if position.title %}<b>{{position.title}}</b>{% endif %}{%if position.org%} @{{position.org}} {% endif %}
      <small><span class="date">{{position.date}}</span></small>
      <br/>{{ position.description }}{% assign techs = position.tech | split:"," %}

      {% if techs%}<small><span class="tags"> {% for tech in techs %}#{{tech | replace: " ", ""}} {% endfor %}</span></small>{%endif%}
  </p>
  {% else %}
  {% endfor %}

  {% endfor %}
  </div>
