{% for post in posts %}

    <article>

        {% if post.favorite %} ⭐ {% endif %} {% if post.translation %} 🇬🇧 {% endif %}
        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        <br/>
        <small>
            <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
            <span class="tags">
                {% for tag in post.tags %}
                <a href="/blog/tags#{{tag}}">#{{tag}}</a>
                {% endfor %}
            </span>
        </small>

    </article>
{% endfor %}
