html { color-scheme: light dark; overflow-y: scroll;}
body { max-width: 45em; margin: 0 auto; padding: 0 1rem;
       width: auto;
       font-family: Tahoma, Verdana, Arial, sans-serif;
       line-height: 1.5;
     }
nav {margin: 1rem 0 2rem;    line-height: 1.8;}
nav a, .site-index a { color: unset}
nav * {margin-right: .5em; margin-bottom:0}

a {color: dodgerblue;text-decoration: none}
a:hover {text-decoration: underline}

.date, .tags, .tags a { color: silver!important}

.org-center, .text-center {
    text-align: center;
}


ul.site-index {
    padding-left:0;
}
.site-index li {
    list-style: none;
    line-height: 1.8;
}

.projects-index ul { padding-bottom: 1rem}
.projects-index li { padding-bottom: .5rem; list-style-type: none}
.projects-index li p {margin: 0.5rem 0}

hr {
    border: 0;
    border-top:1px solid whitesmoke;
}

.blog-index article { padding-bottom: .5rem;}

.blog-index a.title {
    color: unset!important;
}

.layout-post {
    hyphens: auto;
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.6;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

.layout-post h1 {
    hyphens:none;
}

.layout-post p {
    margin: 0 0 .4rem 0;
    line-height: 1.8;
}

.layout-post p + p {
    text-indent: 3rem;
}

.layout-post .footnotes p {
    text-indent: 0rem;
}

.layout-post h1, .layout-post .subtitle {
    text-align: center;
}

.layout-post .org-center, .layout-post .text-center {
    margin: 2rem 0;
}

.layout-post .footpara {
    display: inline;
}
.layout-post .footdef {
    margin-top: 10px
}

.layout-post p.verse {
    text-align: right;
}

.layout-post img {
    max-width: 75%;
    max-height: 400px;
}

.layout-post hr {
    border: 1px solid silver;
}


img.cover-img {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
}

/* override in mobile devices for more compact text */
@media screen and (max-width: 768px) {
    .layout-post {
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: unset;
        hyphens: none;
        text-align: left;
    }

    .layout-post p {
        margin: 0 0 1rem 0;
        line-height: 1.7;
    }

    .layout-post p + p {
        text-indent: 0;
    }

    .layout-post img {
        max-width: 100%;
    }
}

pre.highlight {
    font-size: 1rem;
    overflow-x: auto;
}

blockquote {
    border-left: 2px solid whitesmoke;
    padding-left: 1rem;
}
