---
layout: default
title: /blog/tags
head_title: Tags
---

<div class="blog-index">
    <h3><a href="#favoritos" class="title" id="favoritos">#favoritos</a></h3>
    {% assign skip_years = true %}
    {% assign posts = site.posts | where:"favorite",true %}
    {% include posts.html posts=posts %}
    <br/>

    {% for tag in site.tags %}
    <h3><a href="#{{tag[0]}}" class="title" id="{{tag[0]}}">#{{tag[0]}}</a></h3>
    {% assign posts = tag[1] %}
    {% include posts.html posts=posts %}
    <br/>
    {% endfor %}
</div>
