---
layout: default
title: Apuntes Inchequeables
sections: [["/blog", "/blog"]]
---

<div class="blog-index">
    <p><strong><a href="#favoritos" class="title" id="favoritos">#favoritos</a></strong></p>
    {% assign posts = site.posts | where:"favorite",true %}
    {% include posts.html posts=posts%}
    <br/>

    {% for tag in site.tags %}
    <p><strong><a href="#{{tag[0]}}" class="title" id="{{tag[0]}}">#{{tag[0]}}</a></strong>
        <a href="/feed/{{tag[0]}}.xml" class="title">/feed</a>
    </p>
    {% assign posts = tag[1] %}
    {% include posts.html posts=posts%}
    <br/>
    {% endfor %}
</div>
