{% assign posts_by_year = posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in posts_by_year %}
{% unless skip_years or forloop.first%}
<br/>
{% endunless %}
{% for post in year.items %}
<article class="post">

  <span class="date">
    {% if post.favorite %}
      <a href="/blog/favorites" style="text-decoration:none; color: goldenrod">∗</a>
    {% else %}
      <a style="text-decoration:none; visibility:hidden">∗</a>
    {% endif %}
    <span class="hidden-mobile">{{ post.date | date: "%Y-%m-%d" }}</span>
    <span class="hidden-desktop">{{ post.date | date: "%y-%m-%d" }}</span>
<small class="lang-{{post.lang}}">
      {% if post.lang =='es' %}
      <a href="/blog/es">[es]
      {% else %}
      <a href="/blog/en">[en]
      {% endif %}
    </small>
  </span>
    <div>
      <a class="title" href="{{ post.external | default:post.url }}">{{ post.title }}</a>
        <small>
        <span class="tags hidden-mobile">
            {% for tag in post.tags %}
            <a href="/blog/tags/{{tag}}">#{{tag}}</a>
            {% endfor %}
        </span>
        </small>
    </div>

</article>
{% endfor %}
{% endfor %}
