---
layout: default
title: /reads
head_title: Reads
---

<h4>Currently reading</h4>
<ul>
    {% for book in site.data.reading %}
    <li><small><b>{{book.title}}</b>, {{book.author}}.</small></li>
    {% endfor %}
</ul>

{% assign books_by_year = site.data.read | group_by_exp:"book", "book.read_at | date: '%Y'" %}
{% for year in books_by_year %}
<h4>{{year.name}}</h4>
<ol>
    {% for book in year.items %}
    <li><small><b>{{book.title}}</b>, {{book.author}}
        {% if book.rating %}
        <span>{% for i in (1..book.rating) %}⭐{% endfor %}</span>
        {% endif %}
    </small></li>
    {% endfor %}
</ol>
{% endfor %}
